// ===============================
// Отчёты по агентам
// ===============================

.subheader__content-agent-report {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-bottom: 0.5rem;
}

// Отчёты по агентам — Поиск

.subheader__search {
    @extend %body_grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    padding: 1rem 1rem 1rem 2.5rem;
    -webkit-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 0.25rem;
    background-color: $color-search;

    &::-webkit-input-placeholder {
        color: $color-grey;
    }

    &:-ms-input-placeholder {
        color: $color-grey;
    }

    &::-ms-input-placeholder {
        color: $color-grey;
    }

    &::placeholder {
        color: $color-grey;
    }

    &-icon {
        @extend %icon;
        width: 100%;

        &::before {
            background-image: url("../img/icons/search.svg");
        }
    }
}

// Отчёты по агентам — Табы

.subheader__tab {
    @extend .tab;
}

// Отчёты по агентам

.agent-report {
	@extend %container;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

    // Отчёты по агентам — Дата

    &__date {
        @extend %section-item;
        padding-top: 1rem;
    }

    &__date-title {
        @extend %heading-secondary_dark;
    }

    &__label {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }

    // Отчёты по агентам — Всего по агентам

    &__total {
        @extend %section-item;
        margin-bottom: 1rem;
    }

    &__total-title {
        @extend %heading-secondary_dark;
        margin-bottom: 1rem;
    }

    &__total-item {
        @extend %string-item;
    }

    &__text {
        @extend %subheading_dark;
        margin-right: auto;
    }

    &__output-people,
    &__output-income {
        position: relative;
        @extend .output;
    }

    &__output-people::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0.75rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 1rem;
        height: 1rem;
        background-image: url("../img/icons/output_people.svg");
    }

    &__output-income::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0.75rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 1rem;
        height: 1rem;
        background-image: url("../img/icons/output_income.svg");
    }
}

// ===============================
// Отчёты по агентам / Детальная
// ===============================

.agent-detail {
    @extend %container;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

    &__workshift,
    &__period {
        @extend %section-item;
    }

	&__period {
		margin-bottom: 2rem;
	}

    &__workshift-title,
    &__period-title {
        @extend %heading-secondary_dark;
        margin-bottom: 1rem;
		width: 100%;
    }

    &__workshift-income,
    &__workshift-people,
    &__workshift-motivation,
    &__period-from,
    &__period-till,
    &__period-income,
    &__period-people,
    &__period-motivation {
        @extend %string-item;
    }

    &__period-text {
        @extend %subheading_dark;
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		margin-right: 0.5rem;
    }

    &__date-from,
    &__date-till {
        @extend .input-text;
    }

    &__output-income,
    &__output-people,
    &__output-motivation {
        @extend .output;
        @extend %icon;
    }

    &__output-income::before {
        background-image: url("../img/icons/output_income.svg");
    }

    &__output-people::before {
        background-image: url("../img/icons/output_people.svg");
    }

    &__output-motivation::before {
        background-image: url("../img/icons/output_income.svg");
    }

	&__link-back {
		@extend %button-transparent;
	}
}

.toggle {
	margin-bottom: 1rem;

	&__motivation,
	&__time,
	&__shift-income,
	&__shift-motivation {
		@extend .toggle__item;
	}

	&__time {
		padding-bottom: 0.5rem;
		border-bottom: 0.0625rem solid #fff;
		margin-bottom: 0.5rem;
	}

	&__link-stat {
		@extend %button-transparent;
		padding-left: 2rem;
		color: $color-yellow;
		margin: 0 auto;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0.5rem;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 1rem;
			height: 1rem;
			background-image: url("../img/icons/button_stat_yellow.svg");
		}
	}
}

// ===============================
// Отчёты по агентам / Поиск
// ===============================

.agent-search {
	@extend %container;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	&__title {
		@extend %heading-secondary_dark;
		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		margin-bottom: 1rem;
		padding-top: 1rem;
	}
}

.search-card {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	margin-left: -0.5rem;
    margin-right: -0.5rem;
	margin-bottom: 1rem;
	padding: 1.5rem 1rem 1rem 1rem;
	width: calc(100% + 2rem);
	padding: 0.75rem 0.5rem;
	-webkit-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
	        box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
	border-radius: 0.125rem;

	&__title {
		width: 100%;
		margin-bottom: 0.5rem;
	}

	&__item {
		@extend %body_grey;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0rem;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 1rem;
			height: 1rem;
			background-repeat: no-repeat;
		}
	}

	// &__shift {
	// 	@extend .search-card__item;
	// 	width: 100%;
	// 	margin-bottom: 0.5rem;
	// }

	&__date {
		@extend .search-card__item;
		padding-left: 1.5rem;

		&::before {
			background-image: url("../img/icons/output_date_grey.svg");
		}
	}

	&__people {
		@extend .search-card__item;
		padding-left: 1.5rem;

		&::before {
			background-image: url("../img/icons/output_people_grey.svg");
		}
	}

	&__income {
		@extend .search-card__item;
		padding-left: 1.5rem;

		&::before {
			background-image: url("../img/icons/output_income_grey.svg");
		}
	}

}





//
