// ===============================
// Отчёт за день
// ===============================

// Сальдо

.subheader {

	&__day-report-link,
	&__interval-value,
	&__input-time {
		@extend %heading-primary_light;
	}

	&__input-time {
		-webkit-appearance: none;
		   -moz-appearance: none;
		        appearance: none;
		width: 4.5rem;
		background-color: transparent;
		border: none;
		border-bottom: solid 0.0625rem #fff;
		border-radius: 0rem;
		font-family: Roboto, sans-serif;
		text-align: center;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button,
		&::-webkit-clear-button,
		&::-webkit-calendar-picker-indicator {
			display: none;
		}
	}

	&__content-duration {
		@extend .subheader__content;
		padding-top: 0rem;
	}

	&__duration-title,
	&__duration-value {
		@extend %subheading_light;
	}
}


.day-report {
	@extend %container;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	&__balance-start {
		@extend %section-item;
	}

	// Обороты по судам

	&__income,
	&__total {
		@extend %section-item;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	&__income-title,
	&__total-title {
		@extend %heading-secondary_dark;
		margin-bottom: 1rem;
		width: 100%;
	}

	&__balance-finish-title {
		@extend %heading-secondary_dark;
		width: 100%;
	}

	&__income-item,
	&__total-item {
		@extend %string-item;
	}

	&__text {
		@extend %subheading_dark;
	}

	&__output-income {
		position: relative;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0.75rem;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 1rem;
			height: 1rem;
			background-image: url("../img/icons/output_income.svg");
		}
	}

	&__balance-finish {
		@extend %section-item;
		margin-bottom: 2rem;
	}

	&__label {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 100%;
	}

	&__link-finish {
		@extend %button-primary;
		padding-left: 2.5rem;
		margin: 0 auto;
		margin-bottom: 1rem;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 1rem;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 1rem;
			height: 1rem;
			background-image: url("../img/icons/button_finish.svg");
			background-repeat: no-repeat;
		}
	}

}

// ===============================
// Отчёт за день
// ===============================

.day-reopen {
	@extend %container;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	&__balance-start,
	&__balance-finish {
		@extend %section-item;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	&__balance-finish {
		margin-bottom: 2rem;
	}

	&__balance-start-title,
	&__balance-finish-title {
		@extend %heading-secondary_dark;
	}

	&__output-balance {
		@extend .output;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0.5rem;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 1rem;
			height: 1rem;
			background-image: url("../img/icons/output_income.svg");
			background-repeat: no-repeat;
		}
	}

	&__link-restart {
		@extend %button-primary;
		padding-left: 2.5rem;
		margin: 0 auto;
		margin-bottom: 1rem;

		&::before {
			position: absolute;
			content: '';
			top: 45%;
			left: 1rem;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 1rem;
			height: 1rem;
			background-image: url("../img/icons/button_restart.svg");
			background-repeat: no-repeat;
		}
	}
}
