// Цвета

$color-navy: #071D38;
$color-blue: #069EDB;
$color-yellow: #FFDD00;
$color-orange: #FFB000;
$color-grey-dark: #757575;
$color-grey: #C0C0C0;
$color-grey-light: #EEEEEE;
$color-search: #FAFAFA;

// Кнопки

%button {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0.625rem 1rem;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1rem;
	letter-spacing: 0.03rem;
	text: {
		-webkit-transform: uppercase;
		transform: uppercase;
		decoration: none;
		align: center;
	}
	border-radius: 0.25rem;
	border: none;
	outline: none;
	background: transparent;
}

%button-primary {
	@extend %button;
	color: $color-navy;
	background-color: $color-yellow;
	-webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24), 0 0 0.5rem rgba(0, 0, 0, 0.12);
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24), 0 0 0.5rem rgba(0, 0, 0, 0.12);

	&.active {
		background-color: $color-orange;
		-webkit-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
		        box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
	}
}

%button-secondary {
	@extend %button;
	color: #fff;
	background-color: $color-blue;
	-webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24), 0 0 0.5rem rgba(0, 0, 0, 0.12);
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24), 0 0 0.5rem rgba(0, 0, 0, 0.12);

	&.active {
		background-color: $color-navy;
		-webkit-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
		        box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
	}
}

%button-transparent {
	@extend %button;
	text-decoration: underline;
	color: $color-blue;
	background-color: transparent;
}

// Заголовки

%heading-primary {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.25rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&_light {
		@extend %heading-primary;
		color: #fff;
	}

	&_dark {
		@extend %heading-primary;
		color: $color-navy;
	}
}

%heading-secondary {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.75rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&_light {
		@extend %heading-secondary;
		color: #fff;
	}

	&_dark {
		@extend %heading-secondary;
		color: $color-navy;
	}
}

%subheading {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&_light {
		@extend %subheading;
		color: #fff;
	}

	&_dark {
		@extend %subheading;
		color: $color-navy;
	}
}

// Основной текст

%body {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.25rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&_light {
		@extend %body;
		color: #fff;
	}

	&_dark {
		@extend %body;
		color: $color-navy;
	}

	&_grey {
		@extend %body;
		color: $color-grey-dark;
	}
}

// Ввод

.input-text {
	position: relative;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 0.25rem;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1rem;
	letter-spacing: 0.03rem;
	padding: 0.5rem 0.5rem 0.5rem 2rem;
	background-color: transparent;
	border: 0.125rem solid $color-blue;

	&:not([type="range"]):focus {
		border: 0.125rem solid $color-navy;
	}
}

button:focus,
input:focus,
select:focus,
textarea:focus {
	outline: none;
}

input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;

	&:focus {
		outline: none;
	}
}

input[type=date] {
	@extend .input-text;
	font-family: Roboto, sans-serif;
	text-transform: uppercase;

	&::-webkit-datetime-edit {
		padding: 0rem;
		margin: 0rem;
		font-size: 0.875rem;
		line-height: 1rem;
	}

	&::-webkit-clear-button {
		display: none;
		// font-size: 0.875rem;
		// line-height: 1rem;
		// padding: 0rem;
		// margin: 0rem;
	}

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		display: none;
	}

	&::-webkit-calendar-picker-indicator {
		display: none;
		// font-size: 0.875rem;
		// line-height: 1rem;
	}
}

.input-range {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 0.25rem;
	border-radius: 0.25rem;
	background-color: $color-grey-light;
	color: $color-blue;
	outline: none;

	&::-moz-range-track {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		height: 0.25rem;
		border-radius: 0.25rem;
		padding: 0;
		box-sizing: border-box;
		background-color: $color-grey-light;
		color: $color-blue;
		outline: none;
	}
}

.input-range {
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		border: 0.75rem solid $color-blue;
		background-color: $color-grey-light;
	}

	&::-moz-range-thumb {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		border: 0.75rem solid $color-blue;
		box-sizing: border-box;
		background-color: $color-grey-light;
	}
}

// Вывод

.output {
	@extend .input-text;
	background-color: $color-grey-light;
	border: 0.125rem solid $color-grey-dark;

	&:not(:last-of-type) {
		margin-right: 0.5rem;
	}
}

// Выпадающее меню

%select {
	@extend %subheading_dark;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	padding: 0.5rem 1.5rem 0.5rem 0rem;
	width: 100%;
	-webkit-box-shadow: inset 0 -0.0625rem 0 0 $color-grey;
	        box-shadow: inset 0 -0.0625rem 0 0 $color-grey;
	background-image: url(../img/icons/select_down.svg);
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: right;
	border: none;
	border-radius: 0rem;
}

// Иконки

%icon {
	position: relative;

	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 0.75rem;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 1rem;
		height: 1rem;
		background-repeat: no-repeat;
	}
}

.icon {

	&_people {
		@extend %icon;
		&::before {
			background-image: url("../img/icons/output_people.svg");
		}
	}

	&_income {
		@extend %icon;
		&::before {
			background-image: url("../img/icons/output_income.svg");
		}
	}

	&_date {
		@extend %icon;
		&::before {
			background-image: url("../img/icons/output_date.svg");
		}
	}
}

// Табы

.tab {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding-top: 1rem;

	&-link {
		@extend %button-transparent;
		position: relative;
		width: 100%;
		color: rgba(255, 255, 255, 0.75);

		&.active {
			// @extend %tab-link;
			color: #fff;

			&::after {
				position: absolute;
				content: '';
				bottom: -0.5rem;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				width: calc(100% - 2rem);
				height: 0.125rem;
				background-color: $color-yellow;
			}
		}
	}
}

// Шаблоны

%container {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

%section-item {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	padding-top: 2rem;
	&:first-of-type {
		padding-top: 1rem;
	}
	padding-bottom: 1rem;
	border-bottom: 0.0625rem solid $color-navy;
}

%block-item {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
	&:first-of-type {
		padding-top: 1rem;
	}
}

%string-item {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

// Выдвигающийся блок

.toggle {
	position: relative;
	@extend %block-item;
	margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -0.0625rem;
	padding: 1.5rem 1rem 1rem 1rem;
	width: calc(100% + 2rem);
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	background-color: $color-navy;
	color: #fff;

	&::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 16%;
	-webkit-transform: translateY(-100%);
	        transform: translateY(-100%);
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent transparent $color-navy transparent;
	}

	&__item {

		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;

		&:last-of-type {
			padding-bottom: 0.5rem;
			margin-bottom: 0.5rem;
			border-bottom: 0.0625rem solid #fff;
		}
	}

	&__item-name,
	&__item-value {
		@extend %subheading_light;
		width: 49%;
	}

	&__item-name {
		font-weight: 500;
	}

	&__item-value {
		font-weight: 300;
	}

	&__message {
		text-align: center;
		padding: 0.5rem;
		width: 100%;
	}

	&__link {
		@extend %button-transparent;
		padding-left: 2rem;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0.5rem;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 1rem;
			height: 1rem;
			background-repeat: no-repeat;
		}
	}

	&__link-edit {
		@extend .toggle__link;
		color: #fff;

		&::before {
			background-image: url("../img/icons/button_edit_light.svg");
		}
	}

	&__link-launch {
		@extend .toggle__link;
		color: $color-yellow;

		&::before {
			background-image: url("../img/icons/button_launch_yellow.svg");
		}
	}

	&__link-arrive {
		@extend .toggle__link;
		color: $color-yellow;
		margin: 0 auto;

		&::before {
			background-image: url("../img/icons/button_arrive_yellow.svg");
		}

	}

	&__link-delete {
		@extend .toggle__link;
		color: $color-yellow;

		&::before {
			background-image: url("../img/icons/button_delete_yellow.svg");
		}

	}

}


// Конец
