// ===============================
// Рейсы
// ===============================

.trips {
	@extend %container;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	&__boarding,
	&__arrived,
	&__launched {
		@extend %section-item;
		padding-top: 1rem;
		width: 100%;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	&__item-title {
		@extend %heading-secondary_dark;
		position: relative;
		padding-left: 1.5rem;
		margin-right: 0.5rem;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 1.125rem;
			height: 1.125rem;
			background-repeat: no-repeat;
		}
	}

	&__boarding-title {
		@extend .trips__item-title;
		&::before {
			background-image: url("../img/icons/trip_boarding.svg");
		}
	}

	&__launched-title {
		@extend .trips__item-title;
		&::before {
			background-image: url("../img/icons/trip_launched.svg");
		}
	}

	&__arrived-title {
		@extend .trips__item-title;
		&::before {
			background-image: url("../img/icons/trip_arrived.svg");
		}
	}

	&__item-link {
		@extend %button-secondary;
		padding: 0.65rem 0.5rem;
	}


	&__input-people {
		@extend .input-text;
		width: 1.6rem;
		margin-right: 0.5rem;
	}

	&__input-income {
		@extend .input-text;
		width: 3.5rem;
		margin-right: 0.5rem;
	}
}


// ===============================
// Рейсы / Новый рейс
// ===============================

// Заголовок

.subheader {
	&__content-new-trip {
		padding-bottom: 0.5rem;
	}
}

// Суда и Посадки

.new-trip {
	@extend %container;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	&__content {
		@extend %section-item;
		margin-bottom: 2rem;
	}

	&__tab-boats,
	&__popup-boardings,
	&__tab-boardings {
		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 100%;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}

	&__tab-boardings {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}

	&__boat,
	&__captain,
	&__type,
	&__source,
	&__agent {
		margin-bottom: 1rem;
		width: 100%;
	}

	&__boat-title,
	&__captain-title,
	&__type-title,
	&__source-title,
	&__agent-title,
	&__boardings-title {
		@extend %heading-secondary_dark;
		margin-bottom: 1rem;
		width: 100%;
	}

	&__captain-select,
	&__agent-select {
		@extend %select;
	}

	&__boat-button,
	&__type-button,
	&__source-button {
		@extend %button-secondary;
		margin-bottom: 1rem;
		&.active {
			background-color: $color-navy;
		}
	}

	&__link-back {
		@extend %button-transparent;
		margin-right: auto;
		margin-bottom: 1rem;
	}

	&__link-boarding {
		@extend %button-primary;
		padding-left: 2rem;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0.5rem;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 1rem;
			height: 1rem;
			background-image: url("../img/icons/button_plus.svg");
			background-repeat: no-repeat;
		}
	}

	&__link-launch {
		@extend %button-primary;
		padding-left: 2rem;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0.5rem;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 1rem;
			height: 1rem;
			background-image: url("../img/icons/button_launch.svg");
			background-repeat: no-repeat;
		}
	}

	&__link-new-boarding {
		@extend %button-secondary;
		margin-bottom: 1rem;
		padding-left: 2rem;
		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0.5rem;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 1rem;
			height: 1rem;
			background-image: url("../img/icons/button_plus_light.svg");
			background-repeat: no-repeat;
		}
	}

	&__income {
		@extend .amount;
	}

	&__income-title {
		@extend %heading-secondary_dark;
		width: 100%;
	}

	&__income-label {
		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	&__boardings-item {
		@extend %string-item;
	}

	&__boardings-text {
		@extend %subheading_dark;
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		margin-right: 0.5rem;
	}
}







//
