body,
html {
  min-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

main {
  overflow: hidden;
}

a, body, dd, dl, dt, form, h1, h2, h3, h4, li, p, ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
  font-variant-numeric: lining-nums;
}

.toggle__link-stat, .agent-detail__link-back, .new-trip__link-back, .toggle__link, .toggle__link-delete, .toggle__link-arrive, .toggle__link-launch, .toggle__link-edit, .tab-link, .new-trip__link-new-boarding, .new-trip__boat-button, .new-trip__type-button, .new-trip__source-button, .trips__item-link, .auth__submit, .income__link-confirm,
.costs__link-confirm, .income__link-add-income,
.costs__link-add-costs, .day-reopen__link-restart, .day-report__link-finish, .new-trip__link-launch, .new-trip__link-boarding, .subheader__trips-link, .header-menu__link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.625rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  text--webkit-transform: uppercase;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  background: transparent;
}

.auth__submit, .income__link-confirm,
.costs__link-confirm, .income__link-add-income,
.costs__link-add-costs, .day-reopen__link-restart, .day-report__link-finish, .new-trip__link-launch, .new-trip__link-boarding, .subheader__trips-link, .header-menu__link {
  color: #071D38;
  background-color: #FFDD00;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24), 0 0 0.5rem rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24), 0 0 0.5rem rgba(0, 0, 0, 0.12);
}
.active.auth__submit, .active.income__link-confirm,
.active.costs__link-confirm, .active.income__link-add-income,
.active.costs__link-add-costs, .active.day-reopen__link-restart, .active.day-report__link-finish, .active.new-trip__link-launch, .active.new-trip__link-boarding, .active.subheader__trips-link, .active.header-menu__link {
  background-color: #FFB000;
  -webkit-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
}

.new-trip__link-new-boarding, .new-trip__boat-button, .new-trip__type-button, .new-trip__source-button, .trips__item-link {
  color: #fff;
  background-color: #069EDB;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24), 0 0 0.5rem rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.24), 0 0 0.5rem rgba(0, 0, 0, 0.12);
}
.active.new-trip__link-new-boarding, .active.new-trip__boat-button, .active.new-trip__type-button, .active.new-trip__source-button, .active.trips__item-link {
  background-color: #071D38;
  -webkit-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
}

.toggle__link-stat, .agent-detail__link-back, .new-trip__link-back, .toggle__link, .toggle__link-delete, .toggle__link-arrive, .toggle__link-launch, .toggle__link-edit, .tab-link {
  text-decoration: underline;
  color: #069EDB;
  background-color: transparent;
}

.subheader__income, .subheader__costs, .subheader__day-report-link, .subheader__interval-value, .subheader__input-time, .subheader__heading {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subheader__income, .subheader__costs, .subheader__day-report-link, .subheader__interval-value, .subheader__input-time, .subheader__heading {
  color: #fff;
}
.income__list-income-title, .costs__list-costs-title, .income__caption-title, .costs__caption-title, .income__new-income-title,
.costs__new-costs-title, .day-reopen__balance-start-title, .day-reopen__balance-finish-title, .day-report__balance-finish-title, .day-report__income-title, .day-report__total-title, .agent-search__title, .agent-detail__workshift-title, .agent-detail__period-title, .agent-report__total-title, .agent-report__date-title, .new-trip__income-title, .new-trip__boat-title, .new-trip__captain-title, .new-trip__type-title, .new-trip__source-title, .new-trip__agent-title, .new-trip__boardings-title, .trips__item-title, .trips__arrived-title, .trips__launched-title, .trips__boarding-title, .amount__title, .subheader__title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subheader__title {
  color: #fff;
}
.income__list-income-title, .costs__list-costs-title, .income__caption-title, .costs__caption-title, .income__new-income-title,
.costs__new-costs-title, .day-reopen__balance-start-title, .day-reopen__balance-finish-title, .day-report__balance-finish-title, .day-report__income-title, .day-report__total-title, .agent-search__title, .agent-detail__workshift-title, .agent-detail__period-title, .agent-report__total-title, .agent-report__date-title, .new-trip__income-title, .new-trip__boat-title, .new-trip__captain-title, .new-trip__type-title, .new-trip__source-title, .new-trip__agent-title, .new-trip__boardings-title, .trips__item-title, .trips__arrived-title, .trips__launched-title, .trips__boarding-title, .amount__title {
  color: #071D38;
}

.auth__login, .auth__pass, .income__list-text, .costs__list-text, .income__caption-textarea, .costs__caption-textarea, .day-report__text, .agent-detail__period-text, .agent-report__text, .new-trip__boardings-text, .income__new-income-select,
.costs__new-costs-select, .new-trip__captain-select, .new-trip__agent-select, .subheader__duration-title, .subheader__duration-value, .toggle__item-name, .toggle__item-value {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subheader__duration-title, .subheader__duration-value, .toggle__item-name, .toggle__item-value {
  color: #fff;
}
.auth__login, .auth__pass, .income__list-text, .costs__list-text, .income__caption-textarea, .costs__caption-textarea, .day-report__text, .agent-detail__period-text, .agent-report__text, .new-trip__boardings-text, .income__new-income-select,
.costs__new-costs-select, .new-trip__captain-select, .new-trip__agent-select {
  color: #071D38;
}

.search-card__item, .search-card__income, .search-card__people, .search-card__date, .subheader__search {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-card__item, .search-card__income, .search-card__people, .search-card__date, .subheader__search {
  color: #757575;
}

.input-text, .income__list-time, .costs__list-time, .income__list-amount, .costs__list-amount, .agent-detail__date-from, .agent-detail__date-till, .trips__input-income, .trips__input-people, .amount__input, .output, .day-reopen__output-balance, .agent-detail__output-income, .agent-detail__output-people, .agent-detail__output-motivation, .agent-report__output-people, .agent-report__output-income, input[type=date] {
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  background-color: transparent;
  border: 0.125rem solid #069EDB;
}
.input-text:not([type=range]):focus, .income__list-time:not([type=range]):focus, .costs__list-time:not([type=range]):focus, .income__list-amount:not([type=range]):focus, .costs__list-amount:not([type=range]):focus, .agent-detail__date-from:not([type=range]):focus, .agent-detail__date-till:not([type=range]):focus, .trips__input-income:not([type=range]):focus, .trips__input-people:not([type=range]):focus, .amount__input:not([type=range]):focus, .output:not([type=range]):focus, .day-reopen__output-balance:not([type=range]):focus, .agent-detail__output-income:not([type=range]):focus, .agent-detail__output-people:not([type=range]):focus, .agent-detail__output-motivation:not([type=range]):focus, .agent-report__output-people:not([type=range]):focus, .agent-report__output-income:not([type=range]):focus, input[type=date]:not([type=range]):focus {
  border: 0.125rem solid #071D38;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}

input[type=date] {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}
input[type=date]::-webkit-datetime-edit {
  padding: 0rem;
  margin: 0rem;
  font-size: 0.875rem;
  line-height: 1rem;
}
input[type=date]::-webkit-clear-button {
  display: none;
}
input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button {
  display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

.input-range, .amount__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: #EEEEEE;
  color: #069EDB;
  outline: none;
}
.input-range::-moz-range-track, .amount__range::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0.25rem;
  border-radius: 0.25rem;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEEEEE;
  color: #069EDB;
  outline: none;
}

.input-range::-webkit-slider-thumb, .amount__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.75rem solid #069EDB;
  background-color: #EEEEEE;
}
.input-range::-moz-range-thumb, .amount__range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.75rem solid #069EDB;
  box-sizing: border-box;
  background-color: #EEEEEE;
}

.output, .day-reopen__output-balance, .agent-detail__output-income, .agent-detail__output-people, .agent-detail__output-motivation, .agent-report__output-people, .agent-report__output-income {
  background-color: #EEEEEE;
  border: 0.125rem solid #757575;
}
.output:not(:last-of-type), .day-reopen__output-balance:not(:last-of-type), .agent-detail__output-income:not(:last-of-type), .agent-detail__output-people:not(:last-of-type), .agent-detail__output-motivation:not(:last-of-type), .agent-report__output-people:not(:last-of-type), .agent-report__output-income:not(:last-of-type) {
  margin-right: 0.5rem;
}

.income__new-income-select,
.costs__new-costs-select, .new-trip__captain-select, .new-trip__agent-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5rem 1.5rem 0.5rem 0rem;
  width: 100%;
  -webkit-box-shadow: inset 0 -0.0625rem 0 0 #C0C0C0;
  box-shadow: inset 0 -0.0625rem 0 0 #C0C0C0;
  background-image: url(../img/icons/select_down.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: right;
  border: none;
  border-radius: 0rem;
}

.agent-detail__output-income, .agent-detail__output-people, .agent-detail__output-motivation, .subheader__search-icon, .icon_date, .icon_income, .icon_people {
  position: relative;
}
.agent-detail__output-income::before, .agent-detail__output-people::before, .agent-detail__output-motivation::before, .subheader__search-icon::before, .icon_date::before, .icon_income::before, .icon_people::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.75rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
}

.icon_people::before {
  background-image: url("../img/icons/output_people.svg");
}
.icon_income::before {
  background-image: url("../img/icons/output_income.svg");
}
.icon_date::before {
  background-image: url("../img/icons/output_date.svg");
}

.tab, .subheader__tab {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 1rem;
}
.tab-link {
  position: relative;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
}
.tab-link.active {
  color: #fff;
}
.tab-link.active::after {
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  height: 0.125rem;
  background-color: #FFDD00;
}

.auth, .income,
.costs,
.income-edit,
.costs-edit, .day-reopen, .day-report, .agent-search, .agent-detail, .agent-report, .new-trip, .trips, .subheader__content, .subheader__content-duration, .header-menu__content {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.income__list-income, .costs__list-costs, .income__new-income,
.costs__new-costs,
.income-edit__type,
.costs-edit__type, .day-reopen__balance-start, .day-reopen__balance-finish, .day-report__balance-finish, .day-report__income, .day-report__total, .day-report__balance-start, .agent-detail__workshift, .agent-detail__period, .agent-report__total, .agent-report__date, .new-trip__content, .trips__boarding, .trips__arrived, .trips__launched {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #071D38;
}
.income__list-income:first-of-type, .costs__list-costs:first-of-type, .income__new-income:first-of-type,
.costs__new-costs:first-of-type,
.income-edit__type:first-of-type,
.costs-edit__type:first-of-type, .day-reopen__balance-start:first-of-type, .day-reopen__balance-finish:first-of-type, .day-report__balance-finish:first-of-type, .day-report__income:first-of-type, .day-report__total:first-of-type, .day-report__balance-start:first-of-type, .agent-detail__workshift:first-of-type, .agent-detail__period:first-of-type, .agent-report__total:first-of-type, .agent-report__date:first-of-type, .new-trip__content:first-of-type, .trips__boarding:first-of-type, .trips__arrived:first-of-type, .trips__launched:first-of-type {
  padding-top: 1rem;
}

.income__caption,
.costs__caption, .amount, .new-trip__income, .toggle {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.income__caption:first-of-type,
.costs__caption:first-of-type, .amount:first-of-type, .new-trip__income:first-of-type, .toggle:first-of-type {
  padding-top: 1rem;
}

.income__list-item, .costs__list-item, .day-report__income-item, .day-report__total-item, .agent-detail__workshift-income, .agent-detail__workshift-people, .agent-detail__workshift-motivation, .agent-detail__period-from, .agent-detail__period-till, .agent-detail__period-income, .agent-detail__period-people, .agent-detail__period-motivation, .agent-report__total-item, .new-trip__boardings-item {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.income__list-item:not(:last-child), .costs__list-item:not(:last-child), .day-report__income-item:not(:last-child), .day-report__total-item:not(:last-child), .agent-detail__workshift-income:not(:last-child), .agent-detail__workshift-people:not(:last-child), .agent-detail__workshift-motivation:not(:last-child), .agent-detail__period-from:not(:last-child), .agent-detail__period-till:not(:last-child), .agent-detail__period-income:not(:last-child), .agent-detail__period-people:not(:last-child), .agent-detail__period-motivation:not(:last-child), .agent-report__total-item:not(:last-child), .new-trip__boardings-item:not(:last-child) {
  margin-bottom: 1rem;
}

.toggle {
  position: relative;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -0.0625rem;
  padding: 1.5rem 1rem 1rem 1rem;
  width: calc(100% + 2rem);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #071D38;
  color: #fff;
}
.toggle::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 16%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent #071D38 transparent;
}
.toggle__item, .toggle__motivation, .toggle__time, .toggle__shift-income, .toggle__shift-motivation {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.toggle__item:last-of-type, .toggle__motivation:last-of-type, .toggle__time:last-of-type, .toggle__shift-income:last-of-type, .toggle__shift-motivation:last-of-type {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 0.0625rem solid #fff;
}
.toggle__item-name, .toggle__item-value {
  width: 49%;
}
.toggle__item-name {
  font-weight: 500;
}
.toggle__item-value {
  font-weight: 300;
}
.toggle__message {
  text-align: center;
  padding: 0.5rem;
  width: 100%;
}
.toggle__link, .toggle__link-delete, .toggle__link-arrive, .toggle__link-launch, .toggle__link-edit {
  padding-left: 2rem;
}
.toggle__link::before, .toggle__link-delete::before, .toggle__link-arrive::before, .toggle__link-launch::before, .toggle__link-edit::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
}
.toggle__link-edit {
  color: #fff;
}
.toggle__link-edit::before {
  background-image: url("../img/icons/button_edit_light.svg");
}
.toggle__link-launch {
  color: #FFDD00;
}
.toggle__link-launch::before {
  background-image: url("../img/icons/button_launch_yellow.svg");
}
.toggle__link-arrive {
  color: #FFDD00;
  margin: 0 auto;
}
.toggle__link-arrive::before {
  background-image: url("../img/icons/button_arrive_yellow.svg");
}
.toggle__link-delete {
  color: #FFDD00;
}
.toggle__link-delete::before {
  background-image: url("../img/icons/button_delete_yellow.svg");
}

.header-menu {
  background-color: #071D38;
}

.header-menu__link {
  width: calc((100vw - 7rem) / 6);
  min-height: calc((100vw - 7rem) / 6);
  padding: 0;
}

.subheader {
  background-color: #069EDB;
  -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.24), 0 0 0.25rem rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.24), 0 0 0.25rem rgba(0, 0, 0, 0.12);
}
.subheader__content, .subheader__content-duration {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.subheader__content, .subheader__content-duration {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.subheader__header {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.subheader__title {
  line-height: 1.25rem;
}

.subheader__trips-link {
  padding-left: 2.5rem;
}
.subheader__trips-link::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/button_plus.svg");
}

.amount, .new-trip__income {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.amount__label {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.input-icon, .input-icon_auth, .input-icon_time {
  position: relative;
}

.input-icon::before, .input-icon_auth::before, .input-icon_time::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.75rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/output_income.svg");
}

.trips {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.trips__boarding, .trips__arrived, .trips__launched {
  padding-top: 1rem;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.trips__item-title, .trips__arrived-title, .trips__launched-title, .trips__boarding-title {
  position: relative;
  padding-left: 1.5rem;
  margin-right: 0.5rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.trips__item-title::before, .trips__arrived-title::before, .trips__launched-title::before, .trips__boarding-title::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1.125rem;
  height: 1.125rem;
  background-repeat: no-repeat;
}
.trips__boarding-title::before {
  background-image: url("../img/icons/trip_boarding.svg");
}
.trips__launched-title::before {
  background-image: url("../img/icons/trip_launched.svg");
}
.trips__arrived-title::before {
  background-image: url("../img/icons/trip_arrived.svg");
}
.trips__item-link {
  padding: 0.65rem 0.5rem;
}
.trips__input-people {
  width: 1.6rem;
  margin-right: 0.5rem;
}
.trips__input-income {
  width: 3.5rem;
  margin-right: 0.5rem;
}

.subheader__content-new-trip {
  padding-bottom: 0.5rem;
}

.new-trip {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.new-trip__content {
  margin-bottom: 2rem;
}
.new-trip__tab-boats, .new-trip__popup-boardings, .new-trip__tab-boardings {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.new-trip__tab-boardings {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.new-trip__boat, .new-trip__captain, .new-trip__type, .new-trip__source, .new-trip__agent {
  margin-bottom: 1rem;
  width: 100%;
}
.new-trip__boat-title, .new-trip__captain-title, .new-trip__type-title, .new-trip__source-title, .new-trip__agent-title, .new-trip__boardings-title {
  margin-bottom: 1rem;
  width: 100%;
}
.new-trip__boat-button, .new-trip__type-button, .new-trip__source-button {
  margin-bottom: 1rem;
}
.new-trip__boat-button.active, .new-trip__type-button.active, .new-trip__source-button.active {
  background-color: #071D38;
}
.new-trip__link-back {
  margin-right: auto;
  margin-bottom: 1rem;
}
.new-trip__link-boarding {
  padding-left: 2rem;
}
.new-trip__link-boarding::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/button_plus.svg");
  background-repeat: no-repeat;
}
.new-trip__link-launch {
  padding-left: 2rem;
}
.new-trip__link-launch::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/button_launch.svg");
  background-repeat: no-repeat;
}
.new-trip__link-new-boarding {
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.new-trip__link-new-boarding::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/button_plus_light.svg");
  background-repeat: no-repeat;
}
.new-trip__income-title {
  width: 100%;
}
.new-trip__income-label {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.new-trip__boardings-text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 0.5rem;
}

.subheader__content-agent-report {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
}

.subheader__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  padding: 1rem 1rem 1rem 2.5rem;
  -webkit-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 0.25rem;
  background-color: #FAFAFA;
}
.subheader__search::-webkit-input-placeholder {
  color: #C0C0C0;
}
.subheader__search:-ms-input-placeholder {
  color: #C0C0C0;
}
.subheader__search::-ms-input-placeholder {
  color: #C0C0C0;
}
.subheader__search::placeholder {
  color: #C0C0C0;
}
.subheader__search-icon {
  width: 100%;
}
.subheader__search-icon::before {
  background-image: url("../img/icons/search.svg");
}

.agent-report {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.agent-report__date {
  padding-top: 1rem;
}
.agent-report__label {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.agent-report__total {
  margin-bottom: 1rem;
}
.agent-report__total-title {
  margin-bottom: 1rem;
}
.agent-report__text {
  margin-right: auto;
}
.agent-report__output-people, .agent-report__output-income {
  position: relative;
}
.agent-report__output-people::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.75rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/output_people.svg");
}
.agent-report__output-income::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.75rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/output_income.svg");
}

.agent-detail {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.agent-detail__period {
  margin-bottom: 2rem;
}
.agent-detail__workshift-title, .agent-detail__period-title {
  margin-bottom: 1rem;
  width: 100%;
}
.agent-detail__period-text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 0.5rem;
}
.agent-detail__output-income::before {
  background-image: url("../img/icons/output_income.svg");
}
.agent-detail__output-people::before {
  background-image: url("../img/icons/output_people.svg");
}
.agent-detail__output-motivation::before {
  background-image: url("../img/icons/output_income.svg");
}
.toggle {
  margin-bottom: 1rem;
}
.toggle__time {
  padding-bottom: 0.5rem;
  border-bottom: 0.0625rem solid #fff;
  margin-bottom: 0.5rem;
}
.toggle__link-stat {
  padding-left: 2rem;
  color: #FFDD00;
  margin: 0 auto;
}
.toggle__link-stat::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/button_stat_yellow.svg");
}

.agent-search {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.agent-search__title {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.search-card {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
  width: calc(100% + 2rem);
  padding: 0.75rem 0.5rem;
  -webkit-box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24), 0 0 0.125rem rgba(0, 0, 0, 0.12);
  border-radius: 0.125rem;
}
.search-card__title {
  width: 100%;
  margin-bottom: 0.5rem;
}
.search-card__item, .search-card__income, .search-card__people, .search-card__date {
  position: relative;
}
.search-card__item::before, .search-card__income::before, .search-card__people::before, .search-card__date::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
}
.search-card__date {
  padding-left: 1.5rem;
}
.search-card__date::before {
  background-image: url("../img/icons/output_date_grey.svg");
}
.search-card__people {
  padding-left: 1.5rem;
}
.search-card__people::before {
  background-image: url("../img/icons/output_people_grey.svg");
}
.search-card__income {
  padding-left: 1.5rem;
}
.search-card__income::before {
  background-image: url("../img/icons/output_income_grey.svg");
}

.subheader__input-time {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 4.5rem;
  background-color: transparent;
  border: none;
  border-bottom: solid 0.0625rem #fff;
  border-radius: 0rem;
  font-family: Roboto, sans-serif;
  text-align: center;
}
.subheader__input-time::-webkit-inner-spin-button, .subheader__input-time::-webkit-outer-spin-button, .subheader__input-time::-webkit-clear-button, .subheader__input-time::-webkit-calendar-picker-indicator {
  display: none;
}
.subheader__content-duration {
  padding-top: 0rem;
}
.day-report {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.day-report__income, .day-report__total {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.day-report__income-title, .day-report__total-title {
  margin-bottom: 1rem;
  width: 100%;
}
.day-report__balance-finish-title {
  width: 100%;
}
.day-report__output-income {
  position: relative;
}
.day-report__output-income::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.75rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/output_income.svg");
}
.day-report__balance-finish {
  margin-bottom: 2rem;
}
.day-report__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.day-report__link-finish {
  padding-left: 2.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.day-report__link-finish::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/button_finish.svg");
  background-repeat: no-repeat;
}

.day-reopen {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.day-reopen__balance-start, .day-reopen__balance-finish {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.day-reopen__balance-finish {
  margin-bottom: 2rem;
}
.day-reopen__output-balance::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/output_income.svg");
  background-repeat: no-repeat;
}
.day-reopen__link-restart {
  padding-left: 2.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.day-reopen__link-restart::before {
  position: absolute;
  content: "";
  top: 45%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/button_restart.svg");
  background-repeat: no-repeat;
}

.income,
.costs,
.income-edit,
.costs-edit {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.income__new-income,
.costs__new-costs,
.income-edit__type,
.costs-edit__type {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.income-edit__type,
.costs-edit__type {
  border-bottom: none;
}

.income__new-income-title,
.costs__new-costs-title {
  width: 100%;
  margin-bottom: 1rem;
}

.income__amount,
.costs__amount {
  border-bottom: none;
}

.income__new-income-select,
.costs__new-costs-select {
  margin-bottom: 1rem;
}

.income__caption,
.costs__caption {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.income__caption-title, .costs__caption-title {
  width: 100%;
  margin-bottom: 1rem;
}

.income__caption-textarea, .costs__caption-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  -moz-appearance: none;
  border: none;
  -webkit-box-shadow: inset 0 -0.0625rem 0 0 #069EDB;
  box-shadow: inset 0 -0.0625rem 0 0 #069EDB;
  resize: none;
}
.income__caption-textarea::-webkit-input-placeholder, .costs__caption-textarea::-webkit-input-placeholder {
  color: #069EDB;
  opacity: 0.25;
}
.income__caption-textarea:-ms-input-placeholder, .costs__caption-textarea:-ms-input-placeholder {
  color: #069EDB;
  opacity: 0.25;
}
.income__caption-textarea::-ms-input-placeholder, .costs__caption-textarea::-ms-input-placeholder {
  color: #069EDB;
  opacity: 0.25;
}
.income__caption-textarea::placeholder, .costs__caption-textarea::placeholder {
  color: #069EDB;
  opacity: 0.25;
}
.income__caption-textarea:focus, .costs__caption-textarea:focus {
  -webkit-box-shadow: inset 0 -0.125rem 0 0 #069EDB;
  box-shadow: inset 0 -0.125rem 0 0 #069EDB;
}

.income__link-add-income,
.costs__link-add-costs {
  padding-left: 2.5rem;
  margin-left: auto;
  margin-bottom: 1rem;
}
.income__link-add-income::before,
.costs__link-add-costs::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/button_plus.svg");
  background-repeat: no-repeat;
}

.income__link-confirm,
.costs__link-confirm {
  padding-left: 2rem;
  margin: 0 auto;
}
.income__link-confirm::before,
.costs__link-confirm::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/button_check.svg");
  background-repeat: no-repeat;
}

.income__list-income, .costs__list-costs {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.income__list-income-title, .costs__list-costs-title {
  width: 100%;
  margin-bottom: 1rem;
}

.income__list-text, .costs__list-text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 0.5rem;
}

.income__list-amount, .costs__list-amount {
  margin-right: 0.5rem;
}

.input-icon_time::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.75rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/output_time.svg");
}

.auth {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.auth__login, .auth__pass {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  width: 100%;
  outline: none;
  border: none;
  -webkit-box-shadow: inset 0 -0.0625rem 0 0 #C0C0C0;
  box-shadow: inset 0 -0.0625rem 0 0 #C0C0C0;
}
.auth__login::-webkit-input-placeholder, .auth__pass::-webkit-input-placeholder {
  color: #C0C0C0;
}
.auth__login:-ms-input-placeholder, .auth__pass:-ms-input-placeholder {
  color: #C0C0C0;
}
.auth__login::-ms-input-placeholder, .auth__pass::-ms-input-placeholder {
  color: #C0C0C0;
}
.auth__login::placeholder, .auth__pass::placeholder {
  color: #C0C0C0;
}
.auth__login:focus, .auth__pass:focus {
  -webkit-box-shadow: inset 0 -0.125rem 0 0 #069EDB;
  box-shadow: inset 0 -0.125rem 0 0 #069EDB;
}

.auth__pass {
  margin-bottom: 2rem;
}

.auth__submit {
  padding-left: 2.5rem;
}

.input-icon_auth {
  margin-bottom: 1rem;
  margin-left: auto;
}
.input-icon_auth::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url("../img/icons/button_auth.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
