body,
html {
	min-height: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

main {
	overflow: hidden;
}

a, body, dd, dl, dt, form, h1, h2, h3, h4, li, p, ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-weight: normal;
	font-variant-numeric: lining-nums;
}

@import 'gui';

// Шапка

.header-menu {
	background-color: $color-navy;
}

.header-menu__content {
	@extend %container;
}

.header-menu__link {
	@extend %button-primary;
	width: calc((100vw - 7rem) / 6);
	min-height: calc((100vw - 7rem) / 6);
	padding: 0;
}

// Заголовок

.subheader {
	background-color: $color-blue;
	-webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.24), 0 0 0.25rem rgba(0, 0, 0, 0.12);
	box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.24), 0 0 0.25rem rgba(0, 0, 0, 0.12);

	&__content {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	&__content {
		@extend %container;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	&__header {
		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 100%;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	&__title {
		@extend %heading-secondary_light;
		line-height: 1.25rem;
	}
}

.subheader__heading {
	@extend %heading-primary_light;
}

.subheader__trips-link {
	@extend %button-primary;
	padding-left: 2.5rem;

	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 1rem;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 1rem;
		height: 1rem;
		background-image: url("../img/icons/button_plus.svg");
	}
}

// Блок Количество -->
.amount {
	@extend %block-item;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}

.amount__title {
	@extend %heading-secondary_dark;
}

.amount__label {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 1.5rem;
}

.input-icon {
	position: relative;
}

.input-icon::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0.75rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 1rem;
	height: 1rem;
	background-image: url("../img/icons/output_income.svg");
}

.amount__input {
	@extend .input-text;
}

.amount__range {
	@extend .input-range;
}
// --> Блок Количество

@import 'trips';
@import 'agents';
@import 'day';

// ===============================
// Приход, Расход
// ===============================

// Новый приход

.subheader__income, .subheader__costs {
	@extend %heading-primary_light;
}

.income,
.costs,
.income-edit,
.costs-edit {
	@extend %container;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.income__new-income,
.costs__new-costs,
.income-edit__type,
.costs-edit__type {
	@extend %section-item;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-top: 1rem;
}

.income-edit__type,
.costs-edit__type {
	border-bottom: none;
}

.income__new-income-title,
.costs__new-costs-title {
	@extend %heading-secondary_dark;
	width: 100%;
	margin-bottom: 1rem;
}

.income__amount,
.costs__amount {
	border-bottom: none;
}

.income__new-income-select,
.costs__new-costs-select {
	@extend %select;
	margin-bottom: 1rem;
}

.income__caption,
.costs__caption {
	@extend %block-item;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.income__caption-title, .costs__caption-title {
	@extend %heading-secondary_dark;
	width: 100%;
	margin-bottom: 1rem;
}

.income__caption-textarea, .costs__caption-textarea {
	@extend %subheading_dark;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 100%;
	outline: none;
		-moz-appearance: none;
	border: none;
	-webkit-box-shadow: inset 0 -0.0625rem 0 0 $color-blue;
	        box-shadow: inset 0 -0.0625rem 0 0 $color-blue;
	resize: none;
	&::-webkit-input-placeholder {
		color: $color-blue;
		opacity: 0.25;
	}
	&:-ms-input-placeholder {
		color: $color-blue;
		opacity: 0.25;
	}
	&::-ms-input-placeholder {
		color: $color-blue;
		opacity: 0.25;
	}
	&::placeholder {
		color: $color-blue;
		opacity: 0.25;
	}
	&:focus {
		-webkit-box-shadow: inset 0 -0.125rem 0 0 $color-blue;
		        box-shadow: inset 0 -0.125rem 0 0 $color-blue;
	}
}

.income__link-add-income,
.costs__link-add-costs {
	@extend %button-primary;
	padding-left: 2.5rem;
	margin-left: auto;
	margin-bottom: 1rem;

	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 1rem;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 1rem;
		height: 1rem;
		background-image: url("../img/icons/button_plus.svg");
		background-repeat: no-repeat;
	}
}

.income__link-confirm,
.costs__link-confirm {
	@extend %button-primary;
	padding-left: 2rem;
	margin: 0 auto;

	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 0.5rem;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 1rem;
		height: 1rem;
		background-image: url("../img/icons/button_check.svg");
		background-repeat: no-repeat;
	}

}

// Список приходов

.income__list-income, .costs__list-costs {
	@extend %section-item;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 1rem;
}

.income__list-income-title, .costs__list-costs-title {
	@extend %heading-secondary_dark;
	width: 100%;
	margin-bottom: 1rem;
}

.income__list-text, .costs__list-text {
	@extend %subheading_dark;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin-right: 0.5rem;
}

.income__list-item, .costs__list-item {
	@extend %string-item;
}

.income__list-amount, .costs__list-amount {
	@extend .input-text;
	margin-right: 0.5rem;
}

.income__list-time, .costs__list-time {
	@extend .input-text;
}

.input-icon_time {
	@extend .input-icon;
	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 0.75rem;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 1rem;
		height: 1rem;
		background-image: url("../img/icons/output_time.svg");
	}
}



// ===============================
// Авторизация
// ===============================

.auth {
	@extend %container;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-bottom: 1rem;
}

.auth__login, .auth__pass{
	@extend %subheading_dark;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	padding: 1rem 0rem;
	margin-bottom: 1rem;
	width: 100%;
	outline: none;
	border: none;
    -webkit-box-shadow: inset 0 -0.0625rem 0 0 $color-grey;
            box-shadow: inset 0 -0.0625rem 0 0 $color-grey;

		&::-webkit-input-placeholder {
		color: $color-grey;
	}

		&:-ms-input-placeholder {
		color: $color-grey;
	}

		&::-ms-input-placeholder {
		color: $color-grey;
	}

		&::placeholder {
		color: $color-grey;
	}

		&:focus {
        -webkit-box-shadow: inset 0 -0.125rem 0 0 $color-blue;
                box-shadow: inset 0 -0.125rem 0 0 $color-blue;
	}
}

.auth__pass {
	margin-bottom: 2rem;
}

.auth__submit {
	@extend %button-primary;
	padding-left: 2.5rem;
}

.input-icon_auth {
	@extend .input-icon;
	margin-bottom: 1rem;
	margin-left: auto;

	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 1rem;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 1rem;
		height: 1rem;
		background-image: url("../img/icons/button_auth.svg");
		background-repeat: no-repeat;
		z-index: 1;
	}
}









//
